{% extends 'LabsUboldBundle::loyout_ubold.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
          .dz-default{
              padding-top: 50px;
          }
          .uploader span {
              display: block;
              font-size: 2rem;
              text-align: center;
          }
    </style>
{% endblock %}
{% block title %}{{ 'About - Page | AGR' }}{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for msg in app.session.flashBag.get('success') %}
                                <strong> Succès </strong>{{ msg }}.
                            {% endfor %}
                        </div>
                    {% endif %}

                    <h4 class="page-title">{{ 'Creation de la page About' }}</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('homepage') }}">{{ 'AGR' }}</a>
                        </li>
                        <li class="active">
                            {{ 'Page Project' }}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- end Page Title -->

            <!-- page content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>{{ 'Formulaire de modification de la page project' }}</b></h4>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(form, {'role': 'form', 'action': path('project_edit', {'id' : project.id }), 'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label class="control-label">{{ 'Titre du project' }}</label>
                                        {{ form_row(form.name) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">{{ 'Contenu du project' }}</label>
                                        {{ form_row(form.content) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>

                                <div class="form-group uploader">
                                    <p class="text-semibold">Importez les images ou photos du projet</p>
                                    <div action="{{ path('project_edit', {'id' : project.id }) }}" class="dropzone" id="dropzone-upload"></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-danger btn-rounded waves-effect waves-light">{{ 'Enregistrer' }}</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dropzone/dropzone.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dropzone/main.js') }}"></script>
{% endblock %}