<header class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="{{ asset('images/logo.png') }}" alt="AGR" class="img-responsive"/>
            </a>
        </div>
        <div class="header-widgets  header-widgets-desktop">
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-phone  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">(00225) 22 43 63 68 </h4>
                        <span class="icon-box__subtitle">agr@agrci.com</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa fa-home fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Abidjan (Côte d'Ivoire)</h4>
                        <span class="icon-box__subtitle">Cocody II Plateaux Attoban</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-clock-o  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Lun - Sam 8.00 - 18.00</h4>
                        <span class="icon-box__subtitle">BP 4753 Abidjan 01</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-social-icons">
                <a class="social-icons__link" href="#" target="_blank"><i class="fa  fa-facebook"></i></a>
                <a class="social-icons__link" href="#" target="_blank"><i class="fa  fa-twitter"></i></a>
                <a class="social-icons__link" href="#" target="_blank"><i class="fa  fa-youtube"></i></a>
            </div>
        </div>
        <!-- Toggle Button for Mobile Navigation -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buildpress-navbar-collapse">
            <span class="navbar-toggle__text">MENU</span>
				<span class="navbar-toggle__icon-bar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
        </button>
    </div>
    <div class="sticky-offset js-sticky-offset"></div>
    <div class="container">
        <div class="navigation">
            <div class="collapse  navbar-collapse" id="buildpress-navbar-collapse">
                <ul id="menu-main-menu" class="navigation--main">
                    <li class="current-menu-item"><a href="i">{{ 'Accueil'|upper }}</a></li>
                    <li><a href="">{{ 'Qui sommes nous'|upper }}</a></li>
                    <li><a href="">{{ 'Projets'|upper }}</a></li>
                    <li><a href="">{{ 'nos plans'|upper }}</a></li>
                    <li><a href="">{{ 'Blog'|upper }}</a></li>
                    <li><a href="">{{ 'partenaires'|upper }}</a></li>
                    <li><a href="">{{ 'contacts'|upper }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-widgets  hidden-md  hidden-lg">
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-phone  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">(00225) 22 43 63 68 </h4>
                        <span class="icon-box__subtitle">agr@agrci.com</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-home  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Abidjan (Côte d'Ivoire)</h4>
                        <span class="icon-box__subtitle">Cocody II Plateaux Attoban</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-clock-o  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Lun - Sam 8.00 - 18.00</h4>
                        <span class="icon-box__subtitle">BP 4753 Abidjan 01</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-social-icons">
                <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
</header>