{% extends '::base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="master-container">
        <div class="promo">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="siteorigin-panels-stretch panel-row-style" style="background-color:#eeeeee">
                            <div class="panel-grid-cell">
                                <div class="panel widget widget_pt_banner panel-first-child panel-last-child">
                                    <div class="banner__text">
                                        {{ 'vous avez besoins de nos services pour votre projet alors'|capitalize }}
                                    </div>
                                    <div class="banner__buttons">
                                        <a class="btn btn-primary" href="contact-us.html" target="_self">{{ 'contactez-nous'|capitalize }}</a>&nbsp;
                                        <a class="btn  btn-default" href="projects.html" target="_self">{{ 'voir tous nos projets'|capitalize }}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="container" role="main">
            <div class="row">
                <div class="hentry container" role="main">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-grid widget widget_text panel-last-child">
                                <h3 class="widget-title">{{ about.subtitle }}</h3>
                            </div>
                        </div>
                    </div>
                    <main class="col-xs-12" role="main">
                        <div class="row">
                            <div class="col-md-6">
                                {{ about.content|raw }}
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <a href="{{ about.assertPath|imagine_filter('my_thumb_about') }}" data-rel="prettyPhoto" title="Qui sommes nous">
                                        <img src="{{ about.assertPath|imagine_filter('my_thumb_about_full') }}" class="alignnone" alt="Qui sommes nous" />
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="spacer"></div>
                    </main>
                </div>
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="portfolio-mini-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- GRID WRAPPER FOR CONTAINER SIZING - HERE YOU CAN SET THE CONTAINER SIZE AND CONTAINER SKIN -->
                        <div class="portfolio-container portfolio-active">
                            <div id="options" class="text-left">
                                <!-- THE FILTER BUTTONS -->
                                <ul id="filters" class="filter">
                                    <li class="active"><a href="#">{{ 'Quelques projets' }}</a></li> &nbsp;&nbsp;&nbsp;
                                    <li class="active"><a href="#">{{ 'Voir touts les projets' }}</a></li>
                                </ul>
                            </div>

                            <!-- THE GRID ITSELF WITH ENTRIES -->
                            <div id="portfolio-content" class="projects-container row">
                                {% for project in projects %}
                                    <div class="project-post  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        {% for media in project.medias %}
                                            {% if loop.first  %}
                                            <img src="{{ media.assertPath|imagine_filter('my_thumb_project') }}" alt="{{ project.name }}" />
                                            {% endif %}
                                        {% endfor %}
                                        <div class="project-content">
                                            <div class="inner-project">
                                                <h3>{{ project.name }}</h3>
                                                <a href="" class="project-link">{{ 'Detail'|upper }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel widget widget_text panel-first-child" id="panel-7-3-0-0">
                        <div class="textwidget"></div>
                    </div>
                    <div class="panel panel-grid widget widget_black-studio-tinymce panel-last-child" id="panel-7-3-0-1">
                        <h3 class="widget-title">{{ 'Nos services' }}</h3>
                        <div class="textwidget">
                            <h5>
                                <span style="color: #fcc71f"><br/><span class="icon-container"><span class="fa fa-check"></span></span></span>
                                <span style="color: #333333">WE ARE PASSIONATE</span>
                            </h5>
                            <p>
                                We have a proven record of accomplishment and are a reputable company in the United States. We ensure that all projects
                                are done with utmost professionalism using quality materials while offering clients the support and accessibility.
                            </p>
                            <h5>
                                <span style="color: #fcc71f"><br/><span class="icon-container"><span class="fa fa-check"></span></span></span>
                                HONEST AND DEPENDABLE
                            </h5>
                            <p>
                                For us, honesty is the only policy and we strive to complete all projects with integrity, not just with our clients,
                                but also our suppliers and contractors. With thousands of successful projects under our belt, we are one of the most
                                trusted construction companies in US
                            </p>
                            <h5>
                                <span style="color: #fcc71f"><br/><span class="icon-container"><span class="fa fa-check"></span></span></span>
                                <span style="color: #333333">WE ARE ALWAYS IMPROVING</span>
                            </h5>
                            <p>
                                We commit ourselves to complete all projects within the timeline set with our clients. We use the best of technology and
                                tools to ensure that all jobs are done quickly but also giving attention to details and ensuring everything is done correctly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel widget widget_text panel-first-child" id="panel-7-3-1-0">
                        <div class="textwidget"></div>
                    </div>
                    <div class="panel panel-grid widget widget_black-studio-tinymce panel-last-child" id="panel-7-3-1-1">
                            <h3 class="widget-title">{{ 'Notre Architecte' }}</h3>
                        <div class="textwidget">
                            <p>
                                <a href="{{ asset('images/architect_2x.jpg') }}" data-rel="prettyPhoto">
                                    <img class="alignleft wp-image-115 size-medium" src="{{ asset('images/architect.jpg') }}" alt="Content Image" width="300" height="168"/>
                                </a>
                            </p>
                            <p>
                                <b>Cesare Stefano Bernadinelli</b> est  un architecte-urbaniste  italien
                                avec une expérience exceptionnelle dans le domaine des stations
                                touristiques et de golf. Titulaire d'une maîtrise en architecture et urbanisation
                                de l'Université polytechnique de Milan, c'est en 1983 qu'il a commencé la mise en œuvre
                                d'installations touristiques, la Planification des projets touristiques,
                                la conception de terrains de golf et centres de villégiature,
                                de villages de vacances, des hôtels, des logements sociaux,
                                des centres commerciaux et des aéroports pour des destinations touristiques
                            </p>
                            <p>
                                Pendant plus de 30 ans, il a conçu et construit 26 hôtels et villages de vacances, 3 aéroports internationaux pour le tourisme, ainsi que 6 stations de golf Resort en Europe,
                                dans les Caraïbes, en Amérique latine et au Moyen-Orient ...
                            </p>
                            <h5><strong><a href="about-us">{{ 'Lire la suite' }}</a></strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="siteorigin-panels-stretch panel-row-style testimonials-bg">
            <div class="container">
                <div class="panel-grid">
                    <div class="panel-grid-cell" id="pgc-7-4-0">
                        <div class="panel widget widget_pt_testimonials panel-first-child panel-last-child">
                            <div class="testimonial">
                                <h2 class="widget-title">
                                    <a class="testimonial__carousel testimonial__carousel--left" href="#carousel-testimonials-widget-4-0-0" data-slide="next">
                                        <i class="fa  fa-angle-right" aria-hidden="true"></i>
                                        <span class="sr-only" role="button">Next</span>
                                    </a>
                                    <a class="testimonial__carousel  testimonial__carousel--right" href="#carousel-testimonials-widget-4-0-0" data-slide="prev">
                                        <i class="fa  fa-angle-left" aria-hidden="true"></i>
                                        <span class="sr-only" role="button">Previous</span>
                                    </a>
                                    Testimonials
                                </h2>
                                <div id="carousel-testimonials-widget-4-0-0" class="carousel slide">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-xs-12  col-sm-6">
                                                    <blockquote class="testimonial__quote">
                                                        Our construction managment professionals organize, lead and manage the people, materials
                                                        and processes of construction utilizing the latest technologies within the industry. Our
                                                        construction management Our construction management.
                                                    </blockquote>
                                                    <cite class="testimonial__author">Bob the Builder</cite>
                                                    <div class="testimonial__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12  col-sm-6">
                                                    <blockquote class="testimonial__quote">
                                                        We aim to eliminate the task of dividing your project between different architecture and
                                                        construction company. We are a company that offers design and build services for you from
                                                        initial sketches to the final construction.
                                                    </blockquote>
                                                    <cite class="testimonial__author">Lennie Lazenby</cite>
                                                    <div class="testimonial__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-xs-12  col-sm-6">
                                                    <blockquote class="testimonial__quote">
                                                        We offer quality tiling and painting solutions for interior and exterior of residential and
                                                        commercial spaces that not only looks good but also lasts longer. We offer quality tiling and
                                                        painting solutions for interior and exterior.
                                                    </blockquote>
                                                    <cite class="testimonial__author">Sandy Beach</cite>
                                                    <div class="testimonial__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12  col-sm-6">
                                                    <blockquote class="testimonial__quote">
                                                        For us, honesty is the only policy and we strive to complete all projects with integrity, not
                                                        just with our clients, but also our suppliers and contractors. With thousands of successful
                                                        projects under our belt, we are one of the most trusted construction companies in US.
                                                    </blockquote>
                                                    <cite class="testimonial__author">Dizzy</cite>
                                                    <div class="testimonial__rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-grid" id="pg-7-5">
            <div class="promobg">
                <div class="container">
                    <div class="panel widget row">
                        <div class="col-md-12">
                            <div class="motivational-text">
                                Our promise as a contractor is to build community value into every project while delivering professional expertise, exceptional customers service and quality construction.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="panel-grid">
            <div class="panel-grid-cell">
                <div class="panel container">
                    <h3 class="widget-title">Clients / Partners / Certificates</h3>
                    <div class="textwidget">
                        <div class="logo-panel">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_01.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_02.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_03.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_04.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_05.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_06.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_07.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_08.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_09.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_10.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_11.jpg" alt="Client" width="208" height="98"></div>
                                <div class="col-xs-12 col-sm-2"><img src="images/demo/clients/client_12.jpg" alt="Client" width="208" height="98"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} {% endblock %}